  @use '../../../styles' as *;
@use '../../../colors' as *;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $very-light-gray;
  padding: 1rem;
}

.login-card {
  border-radius: 12px;
  padding: 2.5rem;
  max-width: 500px;
}

.app-title {
  font-size: 2rem;
  font-weight: 700;
  color: $dark-gray;
  margin-bottom: 1rem;
  text-align: center;
}

.project-description {
  font-size: 1rem;
  color: $medium-gray;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  text-align: left;
}


.radio-group-inline{
  display: flex;
  flex-direction: row;
  gap:24px;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  font-weight: 500;
}

.radio-label{
  display:flex;
  align-items:center;
  cursor: pointer;
  font-size:1rem;
  margin-right: 30px;
}

.radio-label input[type="radio"] {
  margin-right:6px;
}


.note{
  font-size:13px;
}


@media screen and (max-width: 768px){
  .radio-group-inline{
    flex-direction: column;
  }

  .login-card{
    padding: 2rem 1.5rem;
    margin: 1rem;   
  }

  .app-title{
    font-size: 0.95rem;   
  }
  .project-description{
    font-size: 0.95rem;
  }

}