  @use '../../../styles' as *;
@use '../../../colors' as *;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $light-purple;
  padding: 1rem;
}

.login-card {
  background: $white;
  border-radius: 12px;
  padding: 2.5rem;
  width: 100%;
  max-width: 500px;
  text-align: center; 
}

.app-title {
  font-size: 2rem;
  font-weight: 700;
  color: $dark-gray;
  margin-bottom: 1rem;
  text-align: center;
}

.project-description {
  font-size: 1rem;
  color: $medium-gray;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  text-align: left;
}


.radio-group-inline{
  display: flex;
  flex-direction: row;
  gap:24px;
  align-items: center;
  margin-bottom: 10px;
}

.radio-label{
  display:flex;
  align-items:center;
  cursor: pointer;
  font-size:1rem;
}

.radio-label input[type="radio"] {
  margin-right:6px;
}

.form-input {
  padding: 0.75rem 1rem;
  border-radius: 8px;

  &:focus {
    border-color: $light-blue;
  }
}

.note{
  font-size:13px;
}

@media screen and (max-width: 768px){
  .radio-group-inline{
    flex-direction: column;
  }

  .login-card{
    padding: 2rem 1.5rem;
    margin: 1rem;   
  }

  .app-title{
    font-size: 0.95rem;   
  }
  .project-description{
    font-size: 0.95rem;
  }

}