

    <div *ngIf="!selectedMember">
        <form [formGroup]="memberForm">
            <label for="member"> Select Team Member: </label>
            <select id="member" formControlName="member">
                <option *ngFor="let member of filteredMembers; trackBy: trackByMemberId" value="{{ member.id }}">{{ member.name }}</option>
            </select>
            <button type="button" class="submit-button mt15" (click)="onMemberSelect()" [disabled]="memberForm.invalid || filteredMembers.length === 0">Select</button>
        </form>
        
        <div *ngIf="filteredMembers.length === 0" class="error">
            No team members available. Please add members first before updating allocation.
        </div>
        
    </div>


<ng-container *ngIf="selectedMember">
<div style="margin-bottom:16px; border:1px solid #eee; padding: 12px; border-radius: 6px; background: #fafbfc;">
    {{ selectedMember.name }} :
    Current Project End Date: {{ selectedMember.currentProjectEndDate | date: 'dd/MM/YYYY' }} 
    Current Allocation: {{ selectedMember.allocationPercentage }}%
</div>

<form [formGroup]="allocationForm">
    <div class="fieldWrapper">
        <label for="currentProjectEndDate">Current Project End Date:</label>
        <input type="date" id="currentProjectEndDate" formControlName="currentProjectEndDate" />
    </div>
    <div class="fieldWrapper mt15">
        <label for="allocationPercentage">Allocation Percentage:</label>
        <input type="number" id="allocationPercentage" formControlName="allocationPercentage" min="0" max="100" />
    </div>
    <div class="button-group mt15">
        <button type="button" class="cancel-button" (click)="onSave()" [disabled]="saveDisabled">Save</button>
        <button type="button" class="submit-button" (click)="onCancel()">Cancel</button>
    </div>
</form>
</ng-container>