@use '../../../../styles' as *;
@use '../../../../colors' as *;

.update-allocation-container{
    max-width: 600px;
    margin:20px auto;
    padding:20px;
    border-radius:8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction:column;
}


.selected-member-details{
    margin: 1.75rem 0;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    form {
        gap: 0.7rem;
        max-width:100%;
        padding: 0 0.5rem;
    }    
}
