@use '../../../../styles'as *;
@use '../../../../colors'as *;

.approve-task-container {

  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  

  .select-member-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  .taskList-container{
      overflow-x: auto;
  }
}

.button-group{
    width:600px;
    max-width:600px;
    margin:0 auto;
}

.bottomBorder {
  border-bottom: 1px solid $light-gray;
}

.taskTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


table {
  width: 90%;
  max-width: 90%;
  border-collapse: collapse;
  margin: auto 50px;
}

th,
td {
  vertical-align: middle;
  text-align: left;
  padding: 7px 5px;
}


@media screen and (max-width: 768px) {

  th,
  td {
    font-size: 0.95rem;
    padding: 0.4rem;
  }

}
