@use '../../../../styles'as *;
@use '../../../../colors'as *;

.approve-task-container {

  margin: 0 auto;
  padding: 20px;
  background: $very-light-gray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .select-member-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  .taskList-container{
      overflow-x: auto;
  }
}

.bottomBorder {
  border-bottom: 1px solid $light-gray;
}

.taskTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maxWid50{
    max-width: 50px;
}

.maxWid100 {
  max-width: 100px;
}

.maxWid200 {
  max-width: 200px;
}

.maxWid400 {
  max-width: 400px;
}

table {
  width: 90%;
  max-width: 90%;
  border-collapse: collapse;
  margin: auto 50px;
}

th,
td {
  vertical-align: middle;
  text-align: left;
  padding: 7px 5px;
}


@media screen and (max-width: 768px) {

  th,
  td {
    font-size: 0.95rem;
    padding: 0.4rem;
  }

  // th:nth-child(5), td:nth-child(5) {
  //     max-width: 120px;
  // }

  // th:nth-child(6), td:nth-child(6) {
  //     max-width: 180px;
  // }
}
