<div class="view-member-container">
  <h2>Team Members</h2>
  <div class="table-responsive">
    <table class="table" *ngIf="members?.length;else noMembers">
      <thead>
        <tr class="bottomBorder">
          <th class="maxWid100">Member Id</th>
          <th class="maxWid100">Name</th>
          <th class="maxWid100">Role</th>
          <th class="maxWid100">Experience (years)</th>
          <th class="maxWid200 breakAllWords">Skills</th>
          <th class="maxWid400 breakAllWords">Profile Description</th>
          <th class="maxWid100">Project Start</th>
          <th class="maxWid100">Project End</th>
          <th class="maxWid100">Allocation %</th>
        </tr>
      </thead>

      <tbody>
      <tr *ngFor="let member of members; trackBy: trackByMemberId" class="bottomBorder">
        <td class="maxWid100">{{ member.id }}</td>
        <td class="maxWid100 wordBreak" title="{{member.name}}">{{ member.name }}</td>
        <td class="maxWid100">{{ member.role }}</td>
        <td class="maxWid100">{{ member.experience }}</td>
        <td class="maxWid200 breakAllWords">
          <span *ngFor="let skill of member.skills; let last = last; trackBy: trackByMemberSkills">
            {{ skill }}<span *ngIf="!last">, </span>
          </span>
        </td>
        <td class="maxWid400 breakAllWords">{{ member.profileDescription }}</td>
        <td class="maxWid100">{{ member.currentProjectStartDate | date: 'dd/MM/YYYY' }}</td>
        <td class="maxWid100">{{ member.currentProjectEndDate | date: 'dd/MM/YYYY' }}</td>
        <td class="maxWid100">{{ member.allocationPercentage }}%</td>
      </tr>
      </tbody>

    </table>
  </div>
  <!-- No members -->
  <ng-template #noMembers>
    <div class="error textCenter">
      No team members found. Please add members to the project.
    </div>
  </ng-template>
</div>