@use '../../../../colors' as *;
@use '../../../../styles' as *;

.view-member-container{
    padding: 20px;
    margin: 20px auto;
}


.maxWid100{
    max-width: 100px;
}

.maxWid200{
    max-width: 200px;
}
.maxWid400{
    max-width: 400px;
}

.wordBreak{
    word-break: break-word;
}

.breakAllWords  {
    word-break: break-all;
}

.bottomBorder{
    border-bottom: 1px solid $light-gray;
}

.table-responsive{
    overflow-x: auto;
}

table{
    width:90%;
    max-width:90%;
    border-collapse: collapse;
    margin:auto 50px;
}

th,td {
    vertical-align: middle;
    text-align: left;
    padding:7px 5px;
}


@media screen and (max-width: 768px){
    th, td{
        font-size: 0.95rem;
        padding: 0.4rem;
    }

    th:nth-child(5), td:nth-child(5) {
        max-width: 120px;
    }

    th:nth-child(6), td:nth-child(6) {
        max-width: 180px;
    }
}