@use '../../../../styles' as *;
@use '../../../../colors' as *;

.add-member-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: $very-light-gray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.form-group {
  margin-bottom: 15px;
}




